* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
}

img { 
    max-width: 100%;
    width: 450px;
    height: auto;
}

h1, h2, h3 {
    color: rgb(35, 77, 77);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 20px;
}

header ul {
    display: flex;
}

header ul li {
    list-style-type: none;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header a:hover {
    color: rgb(47, 86, 86);
    text-decoration: underline;
}

header a:focus-visible {
    color: rgb(47, 86, 86);
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    align-items: start;
}

main section {
    margin: 15px;
    padding: 20px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 20px;
}
h2, p {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
    }

    main {
        display: block;
    }

}

@media print {
    header nav{
        display: none;
    }

    main section {
        border: 0;
    }
    main {
        display: block;
    }
    article {
        break-inside: avoid;
    }
}